<style>
  .message-content {
    font-family:Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Recebemos uma solicitação de alteração de senha para a sua conta.</p>
  <p>Caso tenha solicitado esta alteração, clique no link abaixo para efetuar a alteração:</p>
  <p>
    <a href="{{link}}">Alterar minha senha</a>
  </p>
  <p>Caso não tenha feito esta solicitação, descarte este e-mail!</p>
  <p>
    Obrigado!<br />
    Atenciosamente <strong>Equipe GoBarber</strong></p>
</div>
